.text-admin {
  font-size: 1.5em;
  text-align: center;
}

.card1 {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 20px 5px rgba(230, 193, 193, 0.2);
  width: auto;
}
.card-body-title {
  height: auto;
  justify-content: center;
  padding: 2.5%;
}

.card-body {
  height: auto;
  justify-content: center;
  padding: 10%;
}